*{
    list-style: none;
    text-decoration: none;
    box-sizing: content-box;
} 

.body{
 font-family: monospace;
 background-color: rgb(64, 10, 85);    
 margin: 0%;
}

.header{
    width: 100%;
    height: 150px;
    box-shadow: 0px 0px 15px black;
    background-image:url(../src/img/Captura.PNG);
    background-repeat: no-repeat;
    background-position: right;
    background-color: black;
}

.menu{
   padding:  20px;
}

.menuContainer{
    margin: auto;
   width: fit-content;
}

.menuItem{
    display: inline-block;
    background-color: rgb(245, 180, 225);
    color: black;
    margin: 0 10px;
    width: auto;
    height: auto;
    transition: all  ease-in-out;
    border-radius: 6px;

    
}

.menuLink{
    color: rgb(119, 69, 167);
    width: auto;
    display: inline-flex;
    margin: 10px;
   transition: all 1s ease-in-out;
   border-radius: 6px;
   padding: 5px;
   font-size: medium;
   font-family: monospace;
}


.menuItem:hover{
    background-color: plum;
    transform:scale(1.1)
}

.body h1{
    color: fuchsia;
    font-family:'Times New Roman'; border-color: black;
    text-shadow: 2px black;
    text-align: center;
    text-decoration:underline;
    font-size: xx-large;
    margin-top: 5px;
}


.mainContainer {
    text-align: left;
    font-family: monospace;
    box-shadow: 0 0 5px black;
    width: fit-content;
    background-color: rgb(64, 22, 104);
    box-sizing: content-box;
    margin:auto;
    border-radius: 6px;
    display: block;
}

.gallery{
text-align:center;
font-size: xx-large;
color: antiquewhite;
}


.imgContainer{
    display: block;
    padding:80px;
    height: 600px;
}

#imagen1, #imagen2, #imagen3 {
    max-width:80%;
    max-height:80%;
    transition: all 2seg ease-in-out;
}

#imagen1:hover, #imagen2:hover, #imagen3:hover{
    transition: all 1seg ease-in-out;
    transform:scale(1.1)
}


footer{
    color: antiquewhite;
    text-align:center;
    margin-top: 50px;
}

.foo a{
color: rgb(16, 150, 173);
}
